resource/xsd/descargaResultados22.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="descargaResultados">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resultadoSol" type="resultadoSolType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- LISTADO DE SOLICITUDES-->
	<xs:complexType name="resultadoSolType">
		<xs:sequence>
			<xs:element name="nroOperacion" type="Numero10"/>
			<xs:element name="CUSPP" type="CUSPPType"/>
			<xs:element name="decisionAfiliado" type="decisionAfiliadoType"/>
			<xs:element name="resulProducto" type="resulProductoType" minOccurs="2" maxOccurs="8"/>
		</xs:sequence>
	</xs:complexType>
	<!-- TIPO COMPLEJO: PRODUCTO -->
	<xs:complexType name="resulProductoType">
		<xs:sequence>
			<xs:element name="modalidad" type="modalidadType"/>
			<xs:element name="moneda" type="monedaType" minOccurs="0"/>
			<xs:element name="anosRT" type="Numero2" minOccurs="0"/>
			<xs:element name="porcentajeRVD" type="Numero3y2" minOccurs="0"/>
			<xs:element name="periodoGarantizado" type="periodoGarantizadoType" minOccurs="0"/>
			<xs:element name="coberturaConyuge" type="coberturaConyugeType" minOccurs="0"/>
			<xs:element name="derechoCrecer" type="sinoType"/>
			<xs:element name="gratificacion" type="sinoType"/>
			<xs:element name="particionCapital" type="particionCapitalType" minOccurs="0"/>
			<xs:element name="resultadoAFP" type="resultadoAFPType" minOccurs="0"/>
			<xs:element name="resultadoEESS" type="resultadoEESSType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultadoAFPType">
		<xs:sequence>
			<xs:element name="codigoAFP" type="AFPType"/>
			<xs:element name="atiende" type="sinoType"/>
			<xs:element name="siGanaNoGana" type="sinoType" minOccurs="0"/>
			<xs:element name="nivelBase" type="sinoType" minOccurs="0"/>
			<xs:element name="nroCotizacion" type="Char15" minOccurs="0"/>
			<xs:element name="primeraPension" type="Numero11y2" minOccurs="0"/>
			<xs:element name="tasaRPyRT" type="Numero2y3" minOccurs="0"/>
			<xs:element name="primaUnicaAFP" type="Numero11y2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultadoEESSType">
		<xs:sequence>
			<xs:element name="codigoEESS" type="EESSType"/>
			<xs:element name="atiende" type="sinoType"/>
			<xs:element name="siGanaNoGana" type="sinoType" minOccurs="0"/>
			<xs:element name="siCotizaNoCotiza" type="sinoType" minOccurs="0"/>
			<xs:element name="nroCotizacion" type="Char15" minOccurs="0"/>
			<xs:element name="primaUnicaAFPEESS" type="Numero11y2" minOccurs="0"/>
			<xs:element name="primaUnicaEESS" type="Numero11y2" minOccurs="0"/>
			<xs:element name="primeraPensionRV" type="Numero11y2" minOccurs="0"/>
			<xs:element name="tasaInteresRV" type="Numero2y3" minOccurs="0"/>
			<xs:element name="primeraPensionRT" type="Numero11y2" minOccurs="0"/>
			<xs:element name="tasaInteresRT" type="Numero2y3" minOccurs="0"/>
			<xs:element name="primeraPensionRVD" type="Numero11y2" minOccurs="0"/>
			<xs:element name="tasaInteresRVD" type="Numero2y3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- TIPOS GENERICOS -->
	<xs:simpleType name="Char1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Char20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero3y2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero2y3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero10">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero10y2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero8y7">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero11y2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="13"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero4y7">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="11"/>
			<xs:fractionDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="monedaType">
		<xs:restriction base="Char6">
			<xs:enumeration value="S/."/>
			<xs:enumeration value="US$"/>
			<xs:enumeration value="S/.Aj."/>
			<xs:enumeration value="US$Aj."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="generoType">
		<xs:restriction base="Char1">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sinoType">
		<xs:restriction base="Char1">
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TIPO SIMPLE: CUSPP -->
	<xs:simpleType name="CUSPPType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}[A-ZÑ]{5}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TIPO SIMPLE: MODALIDAD -->
	<xs:simpleType name="modalidadType">
		<xs:annotation>
			<xs:documentation>RP - RETIRO PROGRAMADO</xs:documentation>
			<xs:documentation>RV - RENTA VITALICIA</xs:documentation>
			<xs:documentation>RTVD - RENTA TEMPORAL CON VITALICIA DIFERIDA</xs:documentation>
			<xs:documentation>RM - RENTA MIXTA</xs:documentation>
			<xs:documentation>RB - RENTA BIMONEDA</xs:documentation>
			<xs:documentation>RC - RENTA COMBINADA</xs:documentation>
			<xs:documentation>RVE - RENTA VITALICIA ESCALONADA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Char4">
			<xs:enumeration value="RP"/>
			<xs:enumeration value="RV"/>
			<xs:enumeration value="RTVD"/>
			<xs:enumeration value="RM"/>
			<xs:enumeration value="RB"/>
			<xs:enumeration value="RC"/>
			<xs:enumeration value="RVE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TIPO SIMPLE: PARTICION CAPITAL-->
	<xs:simpleType name="particionCapitalType">
		<xs:annotation>
			<xs:documentation>01 - 70% $, 30% S/.</xs:documentation>
			<xs:documentation>02 - 60% $, 40% S/.</xs:documentation>
			<xs:documentation>03 - 50% $, 50% S/.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Char2">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="periodoGarantizadoType">
		<xs:annotation>
			<xs:documentation>2 - 2 AÑOS DE PERIODO GARANTIZADO</xs:documentation>
			<xs:documentation>5 - 5 AÑOS DE PERIODO GARANTIZADO</xs:documentation>
			<xs:documentation>7 - 7 AÑOS DE PERIODO GARANTIZADO</xs:documentation>
			<xs:documentation>10 - 10 AÑOS DE PERIODO GARANTIZADO</xs:documentation>
			<xs:documentation>15 - 15 AÑOS DE PERIODO GARANTIZADO</xs:documentation>
			<xs:documentation>20 - 20 AÑOS DE PERIODO GARANTIZADO - desde 30/11/2005</xs:documentation>
			<xs:documentation>25 - 25 AÑOS DE PERIODO GARANTIZADO - desde 30/11/2005</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Char2">
			<xs:enumeration value="2"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TIPO SIMPLE: COBERTURA AL CONYUGE -->
	<xs:simpleType name="coberturaConyugeType">
		<xs:annotation>
			<xs:documentation>50 - 50% DE COBERTURA AL CONYUGE</xs:documentation>
			<xs:documentation>70 - 70% DE COBERTURA AL CONYUGE</xs:documentation>
			<xs:documentation>100 - 100% DE COBERTURA AL CONYUGE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Char3">
			<xs:enumeration value="50"/>
			<xs:enumeration value="70"/>
			<xs:enumeration value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TIPO SIMPLE: DECISION DEL AFILIADO -->
	<xs:simpleType name="decisionAfiliadoType">
		<xs:annotation>
			<xs:documentation>EL - ELIGIO UNA COTIZACION PROPUESTA</xs:documentation>
			<xs:documentation>DE - DESISTIÓ PROSEGUIR CON EL PROCESO</xs:documentation>
			<xs:documentation>RE - SOLICITÓ UNA RECOTIZACION</xs:documentation>
			<xs:documentation>CA - FINALIZADO POR CADUCIDAD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Char2">
			<xs:enumeration value="EL"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="CA"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TIPO SIMPLE: EMPRESAS DE SEGUROS QUE PUEDEN DAR COBERTURA -->
	<xs:simpleType name="EESSType">
		<xs:annotation>
			<xs:documentation>4151 - INVITA SEGUROS DE VIDA</xs:documentation>
			<xs:documentation>4150 - MAPFRE PERU VIDA CIA. DE SEGUROS</xs:documentation>
			<xs:documentation>4140 - INTERSEGURO CIA. DE SEGUROS</xs:documentation>
			<xs:documentation>4120 - EL PACIFICO VIDA CIA. DE SEGUROS Y REASEGUROS</xs:documentation>
			<xs:documentation>4153 - LA POSITIVA VIDA SEGUROS Y REASEGUROS</xs:documentation>
			<xs:documentation>4040 - RIMAC INTERNACIONAL CIA. DE SEGUROS Y REASEGUROS</xs:documentation>
			<xs:documentation>4154 - PROTECTA</xs:documentation>
			<xs:documentation>4155 - RIGEL PERU</xs:documentation>
			<xs:documentation>4158 - COMPANIA DE SEGUROS DE VIDA CAMARA</xs:documentation>
			<xs:documentation>4160 - CRECER SEGUROS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Char4">
			<xs:enumeration value="4151"/>
			<xs:enumeration value="4150"/>
			<xs:enumeration value="4140"/>
			<xs:enumeration value="4120"/>
			<xs:enumeration value="4153"/>
			<xs:enumeration value="4040"/>
			<xs:enumeration value="4154"/>
			<xs:enumeration value="4155"/>
			<xs:enumeration value="4158"/>
			<xs:enumeration value="4160"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TIPO SIMPLE: ADMINISTRADORAS DE FONDOS DE PENSIONES -->
	<xs:simpleType name="AFPType">
		<xs:annotation>
			<xs:documentation>1001 - PROFUTURO AFP</xs:documentation>
			<xs:documentation>1002 - AFP INTEGRA</xs:documentation>
			<xs:documentation>1004 - AFP HORIZONTE</xs:documentation>
			<xs:documentation>1009 - PRIMA AFP</xs:documentation>
			<xs:documentation>1010 - AFP HABITAT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Char4">
			<xs:enumeration value="1001"/>
			<xs:enumeration value="1002"/>
			<xs:enumeration value="1004"/>
			<xs:enumeration value="1009"/>
			<xs:enumeration value="1010"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
